.header {
	background: #010101;

	&__top {
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
	}

	&__button {
		color: $accent-color;
		background: none;
		border: none;
		padding: 0;
		margin: 0;
	}

	&__bottom {
		padding-top: 22px;
		padding-bottom: 28px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}