.header {
	background: #010101;

	&__top {
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {
	}

	&__logo {
		width: 217px;
		height: 47px;

		@media(min-width: 1024px) {
			width: 276px;
			height: 62px;
		}
	}

	&__button {
		color: $accent-color;
		background: none;
		border: none;
		padding: 0;
		margin: 0;
	}

	&__bottom {
		padding-top: 22px;
		padding-bottom: 28px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}