.services {
	background: #F7F7F7;


  &__title {
		text-align: center;

		&::after {
			left: calc(50% - 25px);
		}
  }
  &__decription {
		text-align: center;
		margin-left: auto;
		margin-right: auto;

  }
  &__cards {
		margin-bottom: 30px;

		@media(min-width: 768px) {
			margin-bottom: 48px;
		}
  }
  &__wrapper {
		@media(min-width: 768px) {
			margin-bottom: 48px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			gap: 24px;
		}

		@media(min-width: 1170px) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			row-gap: 38px;
		}
  }
  &__card {
  }
  &__button {
		display: block;
		margin-left: auto;
		margin-right: auto;
  }
}
