<header class="header">
  <div class="container">
		<div class="header__top">
			<div class="contact header__info">
				<div class="contact__item contact__item--phone">
					<svg width="20" height="20" fill="#4F8FF0" class="contact__icon">
						<use xlink:href="img/sprite.svg#phone"></use>
					</svg>
					<p class="contact__text">+7 (922) 022-94-82</p>
				</div>
				<div class="contact__item contact__item--mail mobile-invisible">
					<svg width="20" height="20" fill="#4F8FF0" class="contact__icon">
						<use xlink:href="img/sprite.svg#mail"></use>
					</svg>
					<p class="contact__text">janis62@yahoo.com</p>
				</div>
			</div>
			<button class="header__button">Заказать звонок</button>
		</div>
		<div class="header__bottom">
			<div class="logo__container">
				<a href="./index.html">
					<img src="img/logo.svg" alt="Правозащитник. Юридическая компания">
				</a>
			</div>
			<nav class="nav tablet-invisible">
				<a href="#"class="link nav__link">Услуги</a>
				<a href="#"class="link nav__link">О компании</a>
				<a href="#"class="link nav__link">Наши юристы</a>
				<a href="#"class="link nav__link">Отзывы</a>
				<a href="#"class="link nav__link">Контакты</a>
			</nav>
			<button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
				<span class="burger__line burger__line--1"></span>
				<span class="burger__line burger__line--2"></span>
				<span class="burger__line burger__line--3"></span>
			</button>
		</div>
	</div>
</header>

