<div data-menu-overlay class="overlay mobile-menu__overlay">
	<menu data-menu class="menu mobile-menu">
		<nav class="nav nav--mobile" title="Меню">
			<a href="#" class="nav__link nav__link--mobile">Услуги</a>
			<a href="#" class="nav__link nav__link--mobile">О компании</a>
			<a href="#" class="nav__link nav__link--mobile">Наши юристы</a>
			<a href="#" class="nav__link nav__link--mobile">Отзывы</a>
			<a href="#" class="nav__link nav__link--mobile">Новости</a>
			<a href="#" class="nav__link nav__link--mobile">Контакты</a>
		</nav>
	</menu>
</div>