// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import './components/container';
@import './components/burger';
@import './components/overlay';

@import './pages/index-page';

@import './blocks/contact';
@import './blocks/logo';
@import './blocks/nav';
@import './blocks/mobile-menu';

:root {
	font-family: 'Nunito Sans', sans-serif;
}

.tablet-invisible {
	@media(max-width: 1170px) {
		display: none;
	}
}

.mobile-invisible {
	@media(max-width: 768px) {
		display: none;
	}
}